/* Colors */
  $darkGray: #222222;

  $crimson: #D7263D;
  $spaceCadet: #2E294E;
  $lavenderGray: #CAC4CE;
  $pineGreen: #0B7A75;
  $yellowGreenCrayola: #D4E79E;


  $twitterBlue: #00ACEE;
  $twitterBlueDarken: #009ad5;
  $facebookBlue: #2d88ff;
  $facebookBlueDarken: #147aff;



/* ************************** */   