@import 'colors.scss';

$youtubeRed: #FF0000;
$youtubeBlack: #282828;


footer{
	background-color: $lavenderGray;
  border-top: 5px solid $yellowGreenCrayola;

  ._navigation{  
    padding: 10px 50px;
  
    .__direct{
      width: 60%;
      height: 100%;

    }

    .__connect{
      width: 40%;
      height: 100%;

      .social{
        width: 180px;
        p{
          font-size: 1.25rem;
          margin-bottom: 10px;
        }
      }
      .social-icon{
        width: 30px;
        margin-right: 10px;
        margin-bottom: 10px;

      }
      .social-link{
        width: 33%;
      }
    }
  }

  ._copyright{
    background-color: white;
    max-width: 100vw;
    padding: 20px 30px;    
    p{ 
      color: $darkGray; 
      margin-bottom: 0px;
      text-align: right;
    }
    .__legal{
      text-align: left;
      a{
        text-transform: uppercase;
        margin-left: 20px;
      }
    }
  }
}